@import url('https://fonts.googleapis.com/css?family=Asap');

* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 10px;
    font-family: Asap, Arial;
}
body {
    background: url('../img/bg.jpg');
}
#verlauf {

    margin-left: 60px;
    margin-right: 10px;
    font-family: Asap;
    font-size: 20px;
}
#hist-box {
    transition: all 0.3s ease;
}
.hist-content-box {
    display: inline-block;
    transition: all 0.3s ease;
}
#hist-btn {

    background: white;
    margin: 10px;
    border: none;
    box-shadow: 0 0 30px #b2b5b8;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    outline: none;
    font-family: Asap;
    font-size: 12px;
    font-weight: bold;
    transition: 500ms;
}
#hist-btn:hover {
    transform: translate(0, -5px);
}

#history {
    margin-left: 60px;
    font-family: Asap;
    font-weight: bold;
    font-size: 15px;
}
#title {
 
    font-size: 30px;
    text-decoration: none;
    color: #054437;
    transition: 500ms;
}
#help {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #054437;
    transition: 500ms;
}
#theme-btn {
    border: solid rgb(230, 230, 230);
    width: 150px;
    height: 27px;
    background: white;
    cursor: pointer;
    font-family: Asap;
    font-weight: bold;
    border-radius: 50px;
    transition: 500ms;
    outline: none;
}
#calc-box {
    margin-top: 40px;
    width: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px #8d9092;
    background: #f1f7f8;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
    transition: 300ms;
}
.field {
    width: 410px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    font-family: Asap;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(to left, #1abc9c, #2ecc71);
    transition: 250ms;
}
.btn {
    border: none;
    width: 80px;
    height: 60px;
    outline: none;
    font-family: Asap;
    font-size: 22px;
    background: #f1f7f8;
    border-radius: 35px;
    transition: 300ms;
    cursor: pointer;
}
.equal {
    border: none;
    width: 78px;
    height: 65px;
    font-family: Asap;
    font-size: 35px;
    color: white;
    outline: none;
    background: linear-gradient(#1abc9c, #2ecc71);
    border-bottom-right-radius: 35px;
    cursor: pointer;
    transition: 300ms;
}
.btn:active {
    font-size: 15px;
}
.equal:active {
    font-size: 20px;
}

